<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Table Order</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/static/style.css" rel="stylesheet">
</head>
<body>
  <header class="container header">
    <h1><a href="/" class="nostyle">🍽️ Table Order</a></h1>
    <nav>
      <a href="/">🍽️ Dine In</a>
      <a href="/takeout">🥡 Takeout</a>
      <a href="/orders">Staff Dashboard</a>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
